/*
 * Styles for use by idMyGadget code - on tablets only
 *
 * Overriding the colors used for text and anchor tags (links) in ../../style.css
 *   so we can have a slightly different look on different device types
 *
 * Overall Process:
 * (1) Find an element ("Inspect") in the page that has a color that I want to change
 *     For the main navigation menu, looked at the color of classes 'navbar' and 'nav-menu''
 *     For widgets: started by looking at the 'widget-area' and 'sidebar' but
 *       it turns out we want to use the widget class
 * (2) Search for it, then copy in all the selectors that use that color
 * (3) Decide on the color I want to use for these elements
 * (4) Designate the color we want to use, keeping the old one in comments for reference
 *
 * Fwiw these are, for the most part, listed in the same sequence in which
 *   they appear in ../../style.css
 *
 * Most of these styles are for setting colors; on tablets the header image is in black-and-white
 * At this time we are using for tablets: IMG_4239-crp_scl_3-threshold_1.jpeg 
 * ==> If you change the header image, you may want to change the colors accordingly
 *
 * Default colors for anchor tags :
 *   #0000EE - not yet visited links
 *   #551A8B - visited links
 *    Reference: http://stackoverflow.com/questions/4774022/whats-default-html-css-link-color
 * Specific colors used on tablets:
 * #eeeeee (light gray) used for backgrounds on the main nav and sidebar
 * #EE0000 (red) same values as the default standard color for links except red instead of blue;
 * #703030 (dark red) for visited links
 *    Reference: http://stackoverflow.com/questions/4774022/whats-default-html-css-link-color
 *
 */
a:visited {
	color: #A03030;   /* See comment in header formerly: #ac0404; (brown) */
}
a:active,
a:hover,
.entry-title a:hover,
.entry-content a:hover,
.comment-content a:hover,
.navigation a:hover,
.comment-meta a:hover,
.widget a:hover {
	color: #A03030;   /* See comment in header formerly: #ea9629; (dark yellow) */
}
.hentry .mejs-controls .mejs-time-rail .mejs-time-current,
.paging-navigation a:hover .meta-nav {
	background: #A03030;   /* See comment in header formerly: #ea9629; (dark yellow) */
}
.attachment .hentry,
.paging-navigation,
/* .archive-header,  // decided I hate this; see override immediately below */
.page-header,
.error404 .page-wrapper,
.site-footer {
	background-color: #eeeeee;
}
.archive-header {
	background-color: #ffffff;   /* decided I did not want a background color on this elt */
}
.error404 .page-title:before {
	color: #eeeeee;   /* See comment in header; formerly #e8e5ce; (grey) */
}
/*
 * Overriding the colors used in the sidebar (widget area)
 */
.widget {
	background-color: #eeeeee;   /* See comment in header */
}
/*
 * Overriding the colors used in the main navigation menu
  */
.nav-menu .sub-menu,
.nav-menu .children {
	border-color: #eeeeee; /* formerly #f7f5e7; - essentially grey, */
}
.navbar,
.format-aside,
.format-link,
.comment-respond,
.no-comments {
	background-color: #eeeeee; /* formerly #f7f5e7; - essentially grey, */
}
.format-quote .entry-content,
.format-quote .entry-meta,
.format-status .entry-meta a,
.format-status .entry-content,
.single-format-status .author-description {
	color: #f7f5e7;   /* essentially grey, */
}
body,
input,
textarea,
.site-header .home-link,
.nav-menu li a,
.entry-title a {
	color: #141412;   /* essentially black */
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption,
.format-video .entry-meta {
	color: #220e10;   /* essentially black */
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus,
.nav-menu .sub-menu,
.nav-menu .children,
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls,
.site-footer .sidebar-container {
	background-color: #220e10;   /* essentially black */
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus,
ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff   /* black */
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus,
.format-audio,
.format-video {
	background-color: #db572f;   /* lighter orange */
}

/*
 * anchor tags (links) NOT YET VISITED
 */
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a,
.entry-meta a,
.entry-meta a:hover,
.entry-content a,
.comment-content a,
.format-link .entry-title a,
.navigation a,
.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.widget a {
	color: #EE0000;   /* see comment in header; formerly #bc360a (darker orange) */
}
/*
 * Anchor tags (links) THAT HAVE BEEN VISITED
 * These were NOT originally defined (per se) in ../../style.css
 */
.nav-menu .current_page_item > a:visited,
.nav-menu .current_page_ancestor > a:visited,
.nav-menu .current-menu-item > a:visited,
.nav-menu .current-menu-ancestor > a:visited,
.entry-meta a:visited,
.entry-meta a:hover,
.entry-content a:visited,
.comment-content a:visited,
.format-link .entry-title a:visited,
.navigation a:visited,
.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.widget a:visited {
	color: #A03030;   /* see comment in header */
}

@media (max-width: 643px) {
	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active,
	.toggled-on .nav-menu li > ul a:visited,
	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		color: #141412;   /* essentially black */
	}

	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		background-color: #db572f;   /* lighter orange */
	}
	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		color: #fff;
	}

	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		background-color: #220e10;   /* essentially black */
	}
	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		color: #fff;
	}
}

