/*
 * Styles for use by idMyGadget code
 */
/*
 * For all devices, used in posts
 */
dd ul {
	margin: 0em 1em;  /* (top bottom) (left right) */
	padding: 0em;
}
td.idmygadget-post {
	line-height: 125%;
	padding: 0.25em;
}
th.idmygadget-post {
	margin-right: 1em;
	text-align: center;
}
.idmygadget-emphasis {
	font-weight: bold;
}
.idmygadget-score {  /* I.e. final grade (score) in moocs taken */
	font-size: 110%;
	font-weight: bold;
}
/*
 * For all devices: styling the idmygadget-specific elements
 */
.hamburger-icons-name-title-phone,
.hamburger-icons-name-title-tablet,
.hamburger-icons-name-title-desktop {
	text-align: center;
}
.site-name-phone,
.site-name-tablet,
.site-name-desktop {
	display: inline;
}
.site-title-phone,
.site-title-tablet,
.site-title-desktop {
	display: inline;
}
.site-description-phone,
.site-description-tablet,
.site-description-desktop {
	text-align: center;
}
#idmg-hamburger-menu-left,
#idmg-hamburger-menu-right {
	margin: 1em 2em;
	padding: 1em 2em;
}
img#hamburger-icon-image-left,
canvas#hamburger-icon-canvas-left {
	display: inline;
	float: left;
}
img#hamburger-icon-image-right,
canvas#hamburger-icon-canvas-right {
	display: inline;
	float: right;
}
canvas#hamburger-icon-canvas-left,
canvas#hamburger-icon-canvas-right {
	margin: 0.4em;
}
/*
 * Styles used for phones
 */
img.logo-file-phone {
	display: inline;
	float: left;
	height: 50px;
	margin: 0.5em;
	padding: 0.5em;
	width: 50px;
}
.site-name-phone {
	display: inline;
	text-align: left;
	vertical-align: left;
}
.site-description-phone {
	display: block;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	vertical-align: left;
}
/*
 * Styles used for tablets
 */
img.logo-file-tablet {
	display: block;
	width: 100%;
}
.site-name-tablet {
	margin: 0.2em 0.5em 0em 0.2em;
}
a.site-name-tablet {
	color: black;
}
a.site-name-tablet:hover {
	color: blue;
	text-decoration: underline;
}
.site-description-tablet {
	margin: 0.2em 1em 0.5em 2.5em;
}
/*
 * Styles used for desktops
 */
img.logo-file-desktop {
	display: block;
	width: 100%;
}
.site-title-desktop {
	margin: 0.2em 0.5em 0em 0.5em;
}
a.site-title-desktop {
	color: black;
}
a.site-title-desktop:hover {
	color: blue;
	text-decoration: underline;
}
.site-description-desktop {
	margin: 0.2em 1em 0.5em 3.5em;
}
/*
 * Styles used for the error message
 */
div.idmygadget-error {
	background-color: white;
	border: solid 2px red;
	color: red;
	margin: 1em;
	padding: 1em;
}
a.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
a.idmygadget-error:hover {
	color: blue;
	text-decoration: underline;
}
span.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

/*
 * This fixes the issue with the sidebar overlapping the content.
 * Reference: https://wordpress.org/support/topic/sidebar-overlaps-footer-in-twentythirteen
 */
@media (min-width: 999px) {
	#main {
		overflow: hidden; /* needed to stretch parent container since children are floated */ } #primary.content-area {
		width: 68%;
		float: left;
	}
	.site-main .sidebar-container {
		position: static;
		float: right;
		width: 30%;
		height: auto;
	}
	.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta {
		padding: 0;
	}
}
/*
 * Overriding select styles in ../style.css so that I am happier with how things look
 */
.archive-title {
	font-size: 1.0em;
	margin: 1.0em;
	padding: 0.5em 0;
}
