/*
 * Styles for use by idMyGadget code - desktops only
 */
.widget {
	background-color: #bfffff;
}
/*
 * Overriding the main color (#e8e5ce) in ../../style.css
 *   so we can have different shades on different device types
 * Fwiw these are listed in the same sequence in which they appear in ../../style.css
 */
.attachment .hentry,
.paging-navigation,
.archive-header,
.page-header,
.error404 .page-wrapper,
.site-footer {
	background-color: #bfffff;
}

.error404 .page-title:before {
	color: #bfffff;
}

/*
 * Overriding the colors used in the sidebar (widget area)
 * 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' = tried 'widget-area' and 'sidebar' ...
 * I.e. finding and changing the color of 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' class and any other selectors
 *   that use that color
 * When I find a color, I search for it, then copy in all the selectors that use that color
 * But I am starting (finding colors) by looking at the XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX css class.
 * Again fwiw trying to list these in the same sequence in which they appear in ../../style.css
 */

/*
 * Overriding the colors used in the main navigation menu
 * I.e. finding and changing the color of classes 'navbar' and 'nav-menu''
 * When I find a color, I search for it, then copy in all the selectors that use that color
 * But I am starting (finding colors) by looking at the nav-menu css class.
 * Again fwiw trying to list these in the same sequence in which they appear in ../../style.css
 */
.nav-menu .sub-menu,
.nav-menu .children {
	border-color: #bfffff; /* formerly #f7f5e7; - essentially grey, */
}
.navbar,
.format-aside,
.format-link,
.comment-respond,
.no-comments {
	background-color: #bfffff; /* formerly #f7f5e7; - essentially grey, */
}
.format-quote .entry-content,
.format-quote .entry-meta,
.format-status .entry-meta a,
.format-status .entry-content,
.single-format-status .author-description {
	color: #f7f5e7;   /* essentially grey, */
}
body,
input,
textarea,
.site-header .home-link,
.nav-menu li a,
.entry-title a {
	color: #141412;   /* essentially black */
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption,
.format-video .entry-meta {
	color: #220e10;   /* essentially black */
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus,
.nav-menu .sub-menu,
.nav-menu .children,
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls,
.site-footer .sidebar-container {
	background-color: #220e10;   /* essentially black */
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus,
ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus,
.format-audio,
.format-video {
	background-color: #db572f;   /* lighter orange */
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a,
.entry-meta a,
.entry-meta a:hover,
.entry-content a,
.comment-content a,
.format-link .entry-title a,
.navigation a,
.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.widget a {
	color: #bc360a;   /* darker orange */
}

@media (max-width: 643px) {
	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active,
	.toggled-on .nav-menu li > ul a,
	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		color: #141412;   /* essentially black */
	}

	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		background-color: #db572f;   /* lighter orange */
	}
	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		color: #fff;
	}

	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		background-color: #220e10;   /* essentially black */
	}
	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		color: #fff;
	}
}
